* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(229, 229, 229);
  font-family: 'Poppins', sans-serif;
}

header {
  text-align: center;
  margin: 10px 0;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#cards {
  width: 90%;
  height: 50%;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 25px;
}

#boxes {
  display: flex;
  flex-direction: row;
}

.numbox {
  width: 2%;
  height: 50px;
  background-color: white;
}

.dropbox {
  width: 98%;
  height: 50px;
  background-color: white;
}

.spaced {
  margin-bottom: 5px;
}

#quotes {
  width: 90%;
  height: 50%;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.quoteText {
  margin-bottom: 25px;
}

.image {
  height: 300px;
  width: 400px;
  display: block;
  margin: 50px auto 0 auto;
}

.drag-over {
  border: dashed 2px rgb(255, 0, 0);
}